*{
	box-sizing: border-box;
}
body {
	background-color:black;
	font-family: 'Courier New', Courier, monospace;
}
.padding{
	padding: 3em;
}
#logo{
	float: left;
	height: 150px;
}

/* Main and header (top) */
.main_wrapper{
	width: 1000px;
	height: auto;
	margin: auto;
}

#header_wrapper{
	width: 1000px;
	height: 150px;
	margin: 0;
	background: lightgray;
	border-radius: 5px 5px 0 0;
	/* border-radius: 5px; */
}
#login_stuff{
	margin-top: 65px;
	margin-left: 600px;
	/* height: 100px; */
}
#login_stuff button{
	width: 100px;
	margin-left: 50px;

}	
#name{
	font-weight: bold;
	color: rgb(70, 40, 18);
	font-size: 40px;
	margin-left: 250px;
	padding-top: 100px;
	/* margin-top: 20px; */
	
}

/* Menu bar section */
.menu_bar{
	width: 1000px;
	height: 60px;
	background: darkgray;
	/* padding-top: 1px; */
	border-radius: 0 0 5px 5px;
	margin: 0;
}
.menu_bar ul{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
}
.menu_bar li{
	display: inline;
	list-style: none;
	padding: 0px;
	margin: auto;
}
.menu_bar a{
	text-decoration: none;
	/* padding: 8px; */
	/* margin: 5px; */
	margin: 5px;
	
	font-size: 20px;
	color:gray;
}
.menu_bar a:hover{
	color: white;
	
	font-weight: bolder;
}
.menu_bar span{
	color: black;
	font-size: 12px;
	
}
/* Central page content */
h2{
	margin-left: 250px;
	text-decoration: underline;
	font-size: 35px;
}
.content_wrapper{
	width: 1000px;
	background:white;
	border-radius: 10px;
}

#single_product{
	display: flex;
	flex-direction: row;
	/* float: left; */
	margin: 30px;
	margin-bottom: 50px; 
}
#single_product img{
	border: 1px solid black;
	/* float: left; */
}
#product_text{
	margin-left: 10px;
	/* float: left; */
}
#product_text button{
	height: 20px;
}

#products{
	width: 70%;
	min-height: 800px;
	height: auto;
	float: right; 
	background: rgb(222,184,135);
	border-radius: 0 10px 10px 0;
}
/* sidebar */
#side_bar{
	width: 30%;
	height: 800px;
	border-radius: 10px 0 0 10px;
	
	background: rgb(139,69,19);
	/* background: rgb(185, 184, 183); */
	
	float: left;
}
#categories_title{
	font-size: 40px;
	padding-left: 10px;
	width: 100%;
	background: rgb(182, 101, 43);
	border-radius: 10px 0 0 0;
}
#categories_title2{
	font-size: 40px;
	padding-left: 10px;
	width: 100%;
	background: rgb(182, 101, 43);
}
#cat_list li{
	list-style: none;
	/* padding: 10px; */
	margin: 1px;
	line-height: 40px;
	
}
#cat_list a{
	text-decoration: none;
	padding: 8px;
	margin: 5px;
	font-size: 20px;
	color:gray;
}
#cat_list a:hover{
	color: white;
	font-weight: bolder;		
}

#footer{
	width: 1000px;
	height: 50px;
	background: blue;
	
}





/*  LOGIN PAGE  */
#login_page{
	width: 70%;
	height: 800px;
	/* set */
	float: right; 
	background: rgb(222,184,135);
	border-radius: 0 10px 10px 0;
}

#login_table{
	margin: auto;
	width: 400px;
	border: 1px solid black;
}




#checkout_button{
	margin-left: 30px;
	width: 400px;
	height: 150px;
	border: 1px solid black;
	border-radius: 3px;
	
}